@{
    ViewBag.Title = "Home Page";
}
@section featured {
    @*<section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
           
        </div>
    </section>*@
}
<h2 class="centrado">Bienvendio escoge una opción</h2>
@*<img class="back" src="~/Images/back.jpg" alt="Backgraund" />*@
<div>
    <a href="Jugador">
        <img class="jugador" src="~/Images/jugador.png" alt="Alternate Text" />
        <p class="jugadores">Jugadores</p>
        </a>
</div>

<div>
    <a href="Director">
        <img class="director" src="~/Images/director.png" height="250" width="auto" alt="Alternate Text" />
        <p class="director">Director</p>
    </a>
</div>
<div>
    <a href="Padre">
        <img class="padre" src="~/Images/padre.png" height="250" width="auto" alt="Alternate Text" />
        <p class="padres">Padres</p>
    </a>
</div>
<div>
    <a href="Equipo">
        <img class="equipo" src="~/Images/equipo.png" height="200" width="auto" alt="Alternate Text" />
        <p class="equipos">Equipos</p>
    </a>
</div>